html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(43, 176, 194);
    
}

.header {
    background-color: #a3e4a1;
    padding: 1% 2%;
    color: rgb(255, 255, 255);
    height: 10%;
    position: relative;
}

.header img {
    height: 100%;
    width: 10%;
    margin-right: 70%;
  
}

.header h1 {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-right: 30%;
    margin-left: 20%;
    margin-top: 2%;
    font-size: xx-large;
       
}

/* หน้าแรก */

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.box {
    position: absolute;
    width: 33.33%;
    padding-top: 33.33%; 
    
}

.box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    object-fit: cover;
}

.caption {
    height: 30%; /* ให้ที่สำหรับข้อความใต้รูป */
    color: white;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
}

.box1 { top: 0; left: 22.22%;}
.box2 { top: 0; left: 44.44%; }
.box3 { top: 0; left: 66.66%; }
.box4 { top: 33.33%; left: 22.22%; }
.box5 { top: 33.33%; left: 44.44%; }
.box6 { top: 33.33%; left: 66.66%; }
.box7 { top: 66.66%; left: 22.22%; }
.box8 { top: 66.66%; left: 44.44%; }
.box9 { top: 66.66%; left: 66.66%; }

.Text1 { top: 7%; left: 15%;}
.Herf { top:13%; left: 13%;}


.footer {
    text-align: center;
    background-color: #a3e4a1;
    padding: 4% 2%;
    color: aliceblue;
}

/* หน้าสอง */

.P2 { 
    position: absolute;
    height: 70%;
    width: 60%;
    margin-left: 70%;
    
} 

.text {
    margin-left:30%;
    
}

.fontH1 {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 10%;
    width: 50%;
    text-indent: 10%;
    font-size:x-large;
    color: rgb(230, 243, 255);
}

.fontH2 {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 48%;
    text-indent: 10%;
    font-size:large;
    color:  rgb(230, 243, 255);
}

.border {
    border: 3% solid black;
}

p {
    color: aliceblue;
    position: absolute;
}

h3{
    margin-left: 20%;
}

